body {
	font-family: 'Play', sans-serif;
}

h1, h2, .nav-link, .btn {
	font-family: 'Russo One', sans-serif;
}

p {
	display: block;
}

.container-fluid {
	max-width: 1920px;
}

.main, .main-index {
	background-color: #dedede;
}

.main-footer {
	background-color: #fff;
}

/*Start of CSS Ruleset for index.html*/
.lnd-header {
	background-image: 
	linear-gradient(rgba(255,255,255,.1),rgba(0,0,0,0.8) 80%),
	url(../images/lnd-header.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.lnd-header h1 {
	margin-top: 2%;
}

.lnd-header div {
	margin-top: 5%;
	margin-bottom: 5%;
}

.lnd-header img {
	height: 150px;
	width: 150px;
}

.lnd-header strong {
	color: #e2a800;
}

.lcs-btn {
	background-color: #007bff;
}

.lnd-shop {	
	border: 3px solid #007bff;
	border-radius: 100px;
	padding: 12px 20px;	
	color: #fff;
}

.lnd-shop:hover {
	color: #000;
}

.lnd-subscribe {
	border-radius: 20px;
}

.box-shade {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.media-body h1 {
	border-bottom: 5px solid #007bff;
}

.media-body p {
	font-size: 20px;
}

.lnd-featured {
	width: 320px;
	height: 150px;		
}

.lnd-ftop {
	border-radius: 20px 180px;	
}

.lnd-fbot {
	border-radius: 180px 20px;
}
/*End of CSS Ruleset for index.html*/

/*Start of CSS Ruleset for home.html*/
.main {
	margin-top: 82px;
}

.row-bg {
	background-color: #030A15;
}

#nav-logo-img {
	height: 50px;
	width: 50px;
}

#nav-logo-label {
	text-decoration: none;
}

.navbar {
	border-bottom: 7px solid #007bff;
	border-right: 10px solid #e3a900;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #ffc008;
}

.carousel {
	border-bottom: 5px solid #030A15;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-item {
	transition: transform 3s ease, opacity .5s ease-out;
}

.carousel-control-wrapper {
	border-radius: 100px;
}

.hom {	
	background-repeat: no-repeat;
	background-size: cover;
}

.hom-img {
	height: 400px;
	background-position: center;
}

.hom-featureimg1 {
	background-image: url(../images/hom-featureimg1.png);
}

.hom-featureimg1:hover {
	background-image: 
	linear-gradient(rgba(255,255,255,.1),rgba(0,0,0,0.5) 60%),
	url(../images/hom-featureimg1.png);
}

.hom-featureimg2 {
	background-image: url(../images/hom-featureimg2.png);
}

.hom-featureimg2:hover {
	background-image: 
	linear-gradient(rgba(255,255,255,.1),rgba(0,0,0,0.5) 60%),
	url(../images/hom-featureimg2.png);
}

.hom-featitle {
	font-size: 30px;
}

.hom-featbtn-wrapper {
	position: relative;
	height: 100%;
}

.hom-featbtn-container {
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 85%;
	margin-top: -85px;
}

.hom-featbtn {	
	border-radius: 100px;
}

.card-deck {
	margin-bottom: 2rem;
}

.card, .navbar-toggler {
	border-radius: 0;
}

.card {
	max-width: 18rem;
}

.card-title {
	display: inline-block;
	border-bottom: 2px solid #e3a900;
}

.prd-noback:hover {
	opacity: 0.8;
	transition: .5s ease;
}

.btn-default {
	color: #fff;
	font-family: 'Play', sans-serif;
	padding: 6px 10px;	
	border-radius: 0px;
}

.btn-default:hover {
	color: #ffc008;
}

.team-container {
	background-color: #030A15;
}

.partners-img {
	padding: 20px;
}
/*End of CSS Ruleset for home.html*/

/*Start of CSS Ruleset for about-us.html*/
.breadcrumb {	
	border-radius: 0px;
	background-color: #030A15;
	margin: 0px;
}

.breadcrumb a {
	color: #fff;
}

.breadcrumb-item+.breadcrumb-item::before {
	content: ">";
	color: #fff;
}

.link-active {
	color: #ffc008;
}

.abt-header {
	background-image: 
	linear-gradient(rgba(255,255,255,.1),rgba(0,0,0,0.8) 60%),
	url(../images/abt-building-front.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}

.page-header {
	border-bottom: 8px solid #e3a900;
}
/*End of CSS Ruleset for about-us.html*/

/* Start of CSS Ruleset for contact-us.html */
.cnt-form-container label {
	color: #fff;
}

.cnt-form-container textarea {
	height: 150px;
}

.cnt-form-container input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 0px; 
	box-sizing: border-box; 
	margin-top: 5px !important; 
	margin-bottom: 15px !important; 
	resize: none; 
}
  
.cnt-form-container input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
  
.cnt-form-container input[type=submit]:hover {
	background-color: #45a049;
}

.fa-location-arrow{
	color: #ffc008;
}
/* End of CSS Ruleset for contact-us.html */

/* Start of CSS Ruleset for shop.html */
.shp-search {
	border-radius: 0px;
}

.form-control {
	width: auto;
	max-width: 100%;
}

.select-default {
	border-radius: 0px;
	margin: 0px;
	background-color: #fff;
	color: #000;
}

.shp-cat-heading {
	border-bottom: 1px solid gray;
}

.nav-tabs .nav-link.active {
	color: #007bff;
	background-color: #dedede;
	border-bottom: 2px solid #ffc008;
}

.nav-tabs .nav-link {
	border: none;
}

.fade {
	-webkit-transition: opacity .3s linear;
	   -moz-transition: opacity .3s linear;
		-ms-transition: opacity .3s linear;
		 -o-transition: opacity .3s linear;
			transition: opacity .3s linear;
  }

.shp-product-title {
	font-size: 18px;
	font-weight: bold;
}

/* End of CSS Ruleset for shop.html */

/* Media Query Ruleset */
@media screen and (max-width: 768px) {
	.card {
		max-width: 100%;
	}
}

@media screen and (max-width: 767px){
	.lnd-ftop, .lnd-fbot {
		border-radius: 20px;	
	}	
}

@media screen and (max-width: 1157px){
	.abt-featured1 {
		margin-bottom: 1%;
	}
	.abt-featured2 {
		margin-top: 1%;
	}
}

@media screen and (max-width: 575px){ 
	.nav-tabs .nav-link.active {
		width: 35%;
	}
}

@media screen and (min-width: 1800px){ 	
	.col-viewport {
		height: 95vh;
	}

	.col-footer-viewport {
		height: 5vh;
	}	

	.col-percent {
		height: 95%;
	}

	.col-footer-percent {
		height: 5%;
	}
}
/* End of Media Query Ruleset */